* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--lowest);
}
main {
    background: var(--lowest);
    height: 100vh;
    width: 90vw;
    padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  grid-template-areas: 
    "buttons buttons buttons adjust adjust"
    "preview preview preview adjust adjust"
    "preview preview preview adjust adjust"
    "preview preview preview adjust adjust"
    "preview preview preview adjust adjust"
    "preview preview preview adjust adjust"
    "preview preview preview adjust adjust";
}
.button-group{
    height: 15vh;
    border: 1px solid black;
    grid-area: buttons;
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: var(--gap-xxl);
    background: var(--lowest);
}
.button-group button{
    padding: var(--padding-sm) var(--padding-md);
    font-size: var(--font-size-md);
    border-radius: var(--border-radius-md);
    border: 2px solid;
    background: var(--button-color);
    color: var(--primary-color);
    cursor: pointer;
}
.button-group button:hover{
    background: var(--button-color-hover);
}
.button-group button:active{
    background: var(--button-color-hover);
}
.button-group input{
    padding: var(--padding-sm);
    font-size: var(--font-size-sm);
    border-radius: var(--border-radius-md);
    border: 2px solid;
    background: var(--button-color);
    color: var(--primary-color);
    cursor: pointer;


}
#upload{
    display: inline-flex;
    align-items: center;
    justify-content: center;
margin-left: var(--margin-lg);
    padding: var(--padding-md) var(--padding-lg);

    font-size: var(--font-size-md);
    font-weight: 500;

    border-radius: var(--border-radius-md);
    border: none;

    background: var(--button-color);
    color: var(--primary-color);

    cursor: pointer;

    transition:
        background 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Hover */
#upload:hover{
    background: var(--button-color-hover);
    transform: translateY(-2px);

    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

/* Click Effect */
#upload:active{
    transform: scale(0.97);
}

#reset{
    background-color: #d82e2e;
}
#reset:hover{
    background-color: #d82e2e;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
    border: none;
}
#download{
    background-color: #2ed84e;
}
#download:hover{
    background-color: #2ed84e;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
    border: none;
}

.preview{
    height: 100%;
    background: var(--low);
    border: 1px solid black;
    grid-area: preview;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview img{
    min-width: 70%;
    max-width: 90%;
    height: 75vh;
    object-fit: contain;
}
.adjust{
    background: var(--top);
    border: 1px solid black;
    grid-area: adjust;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-lg);
    padding: var(--padding-sm);
    gap: var(--gap-sm);
    color: var(--primary-color);

}

.adjust label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adjust input[type="range"]{
    width: 90%;
}

