* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--lowest);
}
main {
    background: var(--lowest);
    height: 100vh;
    width: 90vw;
    padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  grid-template-areas: 
    "buttons buttons buttons adjust adjust"
    "preview preview preview adjust adjust"
    "preview preview preview adjust adjust"
    "preview preview preview adjust adjust"
    "preview preview preview adjust adjust"
    "preview preview preview adjust adjust"
    "preview preview preview adjust adjust";
}
.button-group{
    border: 1px solid black;
    grid-area: buttons;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--gap-lg);
    background: var(--medium);
}
.button-group button{
    padding: var(--padding-sm) var(--padding-md);
    font-size: var(--font-size-md);
    border-radius: var(--border-radius-md);
    border: none;
    background: var(--button-color);
    color: var(--primary-color);
    cursor: pointer;
}
.button-group button:hover{
    background: var(--button-color-hover);
}
.button-group button:active{
    background: var(--button-color-hover);
}
.button-group input{
    padding: var(--padding-sm);
    font-size: var(--font-size-md);
    border-radius: var(--border-radius-md);
    border: none;
    background: var(--button-color);
    color: var(--primary-color);
    cursor: pointer;

}
.button-group input:hover {
    background: var(--button-color-hover);
}
button-group input::file-selector-button {
    background: var(--button-color-hover);
}
.button-group input::file-selector-button{
    background: var(--button-color);
    border: none;
    padding: var(--padding-sm) var(--padding-md);
    font-size: var(--font-size-md);
    border-radius: var(--border-radius-md);
    color: var(--primary-color);
    cursor: pointer;

}
.preview{
    background: var(--low);
    border: 1px solid black;
    grid-area: preview;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview img{
    max-width: 90%;
    max-height: 100%;
    object-fit: cover;
}
.adjust{
    background: var(--top);
    border: 1px solid black;
    grid-area: adjust;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
