* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  background-color: #EDE9E6;
}
section {
  height: 85vh;
  width: fit-content;
  background-color: #fff;
  margin-bottom: 3.5vh;
}
.infos {
  height: 8vh;
  width: 75vw;
  padding: 0 2vw;
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #5C766D;
}

#highScoreContainer {
  border: 2px solid rgb(0, 0, 0);
  padding: 1.2vh 1.2vw;
  border-radius: 10px;
  background-color: #fff;
}
#scoreContainer {
  border: 2px solid rgb(0, 0, 0);
  padding: 1.2vh 1.2vw;
  border-radius: 10px;
  background-color: #fff;
}
#timeContainer {
  border: 2px solid rgb(0, 0, 0);
  padding: 1.2vh 1.2vw;
  border-radius: 10px;
  background-color: #fff;
}

.game-board {
  width: 75vw;
  height: 40vw;

  display: grid;
  grid-template-columns: repeat(44, 1fr);
  grid-template-rows: repeat(22, 1fr);

  gap: 1px;
  background: #222;
}

.cell {
  background: #111;
  border: 1px solid #333;
}
