* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  background-color: #055b80;
}
section {
  height: 85vh;
  width: 75vw;
  background-color: #fff;
}
.infos {
  height: 8vh;
  width: 75vw;
  padding: 0 2vw;
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

#highScoreContainer {
  border: 2px solid rgb(0, 0, 0);
  padding: 1.2vh 1.2vw;
  border-radius: 10px;
}
#scoreContainer {
  border: 2px solid rgb(0, 0, 0);
  padding: 1.2vh 1.2vw;
  border-radius: 10px;
}
#timeContainer {
  border: 2px solid rgb(0, 0, 0);
  padding: 1.2vh 1.2vw;
  border-radius: 10px;
}

.gameBoard{
      display:grid;

      /* 20 x 20 grid */
      grid-template-columns: repeat(20, 25px);
      grid-template-rows: repeat(20, 25px);

      gap:1px;
      background:#222;
    }

    .cell{
      width:25px;
      height:25px;
      background:#111;
      border:1px solid #333;
    }