*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
@font-face {
  font-family: 'Aeonika';
  src: url('./aeonika-font/Aeonika-BF66fcc5a8cc5db.otf') format('opentype');
}

main{
    font-family: aeonic;
}